<section>
    <div class="section-candy">
        <div class="description-me">
            <h2 style="font-style: italic">Now who is this Samir Blom guy?</h2>
            <p>Well I'm a 28 soon to be 29 year old web development student at Nackademin. 
                When I'm not learning a bunch of new stuff about web development I like to spend my time playing video games and listen to all kinds of cool music on vinyl.
                The cool stuff you see here are mostly projects I've done during my time studying at Nackademin I hope you like it!.</p>
        </div>
    </div>
</section>